 La detección de anomalías es un desafío común en el campo del Machine Learning. Consiste en identificar aquellos datos que presentan comportamientos atípicos, es decir, que se desvían de los patrones considerados “normales” en un conjunto de datos. Un ejemplo clásico de este problema es la detección
 de transacciones financieras fraudulentas, en la que se busca determinar si el uso de una tarjeta de crédito es legítimo o fraudulento.

En este ejercicio se simplifica el problema de detección de fraude utilizando únicamente el monto de la transacción (en USD). Se propone construir un 
modelo sencillo basado en la distribución normal, que se entrene con un conjunto de datos.

In [281]:
import pandas as pd
import numpy as np

A partir de la distribucion Normal, defina un criterio para clasificar una
transaccion como “normal" o “fraudulenta” del set de entrenamiento

In [282]:
train_data = pd.read_csv(r"det_fraudes_train(in).csv", encoding='latin1')
test_data = pd.read_csv(r"det_fraudes_test(in).csv", encoding='latin1')

In [283]:
train_data.rename(columns={'categorÃ­a': 'Categoría'}, inplace=True)

In [284]:
mean = train_data['monto (USD)'].mean()
std = train_data['monto (USD)'].std()

print(f"Media: {mean:.2f}, Desviación estándar: {std:.2f}")

Media: 153.24, Desviación estándar: 28.92

In [285]:
limite_inferior = mean - 2 * std
limite_superior = mean + 2 * std

print(f"El rango considerado normal, esta entre {limite_inferior:.2f} USD y {limite_superior:.2f} USD")

# Filtrando los valores atípicos

El rango considerado normal, esta entre 95.40 USD y 211.08 USD

In [286]:
#Funcioón para el modelo 
def clasificar_transaccion(monto):
    if monto < limite_inferior or monto > limite_superior:
        return "fraudulenta"
    else:
        return "normal"

In [287]:
#creamos una columna con la predicción del modelo 
train_data['predicción'] = train_data['monto (USD)'].apply(clasificar_transaccion)

In [288]:
train_data

      monto (USD)  Categoría   predicción
0           151.2          0       normal
1           150.5          0       normal
2           142.4          0       normal
3           122.9          0       normal
4           144.5          0       normal
...           ...        ...          ...
2455        155.8          0       normal
2456        156.8          0       normal
2457        177.7          0       normal
2458        139.3          0       normal
2459        241.1          1  fraudulenta

[2460 rows x 3 columns]

Compruebe si el clasificador funciona de forma adecuada, para ello defina la función Exactitud=100(número de aciertos/número total de datos) donde
número total de datos son todos los datos clasificados y número de aciertos es el número de datos (de cualquier categoría, “normal” ó “fraudulenta”)
que fueron clasificados correctamente.

In [289]:
#De acuerdo a la categoria, vamos a crear una nueva columna con la etiqueta real
train_data['etiqueta_real'] = train_data['Categoría'].apply(lambda x: "fraudulenta" if x == 1 else "normal")

In [290]:
train_data

      monto (USD)  Categoría   predicción etiqueta_real
0           151.2          0       normal        normal
1           150.5          0       normal        normal
2           142.4          0       normal        normal
3           122.9          0       normal        normal
4           144.5          0       normal        normal
...           ...        ...          ...           ...
2455        155.8          0       normal        normal
2456        156.8          0       normal        normal
2457        177.7          0       normal        normal
2458        139.3          0       normal        normal
2459        241.1          1  fraudulenta   fraudulenta

[2460 rows x 4 columns]

In [291]:
#verificar si cada predicción fue correcta o no
train_data['acierto'] = train_data['predicción'] == train_data['etiqueta_real']
train_data

      monto (USD)  Categoría   predicción etiqueta_real  acierto
0           151.2          0       normal        normal     True
1           150.5          0       normal        normal     True
2           142.4          0       normal        normal     True
3           122.9          0       normal        normal     True
4           144.5          0       normal        normal     True
...           ...        ...          ...           ...      ...
2455        155.8          0       normal        normal     True
2456        156.8          0       normal        normal     True
2457        177.7          0       normal        normal     True
2458        139.3          0       normal        normal     True
2459        241.1          1  fraudulenta   fraudulenta     True

[2460 rows x 5 columns]

In [292]:
# Calcular exactitud
exactitud = 100 * train_data['acierto'].mean()
print(f"La exactitud del modelo en prueba es del: {exactitud:.2f}%")

La exactitud del modelo en prueba es del: 98.09%