In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from itertools import accumulate
import math

In [3]:
data = pd.read_csv("transacciones(in).csv", encoding='latin-1')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1800 non-null   int64
 1   Estado      1800 non-null   object
 2   CategorÃ­a  1800 non-null   int64
dtypes: int64(2), object(1)
memory usage: 42.3+ KB

In [5]:
estado_count= data["Estado"].value_counts()
estado_count

Estado
sospechosa     1773
fraudulenta      27
Name: count, dtype: int64

In [6]:
data = data.rename(columns={"CategorÃ\xada": "Categoria"})
data

        ID      Estado  Categoria
0     4523  sospechosa          0
1     4524  sospechosa          0
2     4525  sospechosa          0
3     4526  sospechosa          0
4     4527  sospechosa          0
...    ...         ...        ...
1795  6318  sospechosa          0
1796  6319  sospechosa          0
1797  6320  sospechosa          0
1798  6321  sospechosa          0
1799  6322  sospechosa          0

[1800 rows x 3 columns]

In [11]:
def unicos (df, columna):
    valores = df[columna].value_counts()
    cantidad = df[columna].nunique()
    print(f"La columna {columna} tiene {cantidad} valores únicos")
    print(valores)
    print()
    return

In [12]:
for columna in data.columns:
    unicos(data, columna)

La columna ID tiene 1800 valores únicos
ID
6322    1
4523    1
4524    1
4525    1
4526    1
       ..
4535    1
4534    1
4533    1
4532    1
4531    1
Name: count, Length: 1800, dtype: int64

La columna Estado tiene 2 valores únicos
Estado
sospechosa     1773
fraudulenta      27
Name: count, dtype: int64

La columna Categoria tiene 2 valores únicos
Categoria
0    1773
1      27
Name: count, dtype: int64

¿Qué tan probable es que en un día determinado una de estas transacciones
 sospechosas corresponda realmente a un fraude?

 Esta pregunta la asocio a Bernoulli porque o es 0 o es 1

In [18]:
#Vamos a calcular los totales de cada categoria 
Fraude_total =  data[data["Categoria"] == 1].shape[0]
Sospechosa_total= data[data["Categoria"] ==0].shape[0]

#Ahora voy a calcular la probabilidad de que una de esas transacciones se vuelva un fraude

probabilidad_fraude = (Fraude_total / Sospechosa_total)*100

In [22]:
print(f"La probabilidad de que una transacción sospechosa se vuelva un fraude es del {probabilidad_fraude:.2f}%")

La probabilidad de que una transacción sospechosa se vuelva un fraude es del 1.52%

En un dia determinado ¿cúal es la cantidad más probable que podemos
tener de transacciones fraudulentas? 

Aqui recordemos la afirmación:Para lo anterior recolectamos la información de transacciones sospechosas durante 30 dias consecutivos

In [26]:
dias_totales = 30
fraude_dia = (Fraude_total/ dias_totales)*100

90.0